<button id="btnNuevo" class="btn btn-success">Nuevo</button>

<!-- Modal -->
<div id="modalAsignacionPersona" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Equipo</label>
                            <input type="text" name="" class="form-control" id="txtEquipo" placeholder="Seleccione el equipo a asignar">
                            <input type="hidden" id="hidIDProducto" value="-1" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Persona</label>
                            <input type="text" class="form-control" id="txtPersona" placeholder="Seleccione la persona a asignar">
                            <input type="hidden" id="hidIDPersona" value="-1" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCity">Fecha Entrega</label>
                            <input type="date" class="form-control" id="txtFechaEntrega">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCity">Fecha Próximo Cambio</label>
                            <input type="date" class="form-control" id="txtFechaProximoCambio">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputCity">Comentario</label>
                            <input type="text" class="form-control" id="txtComentario">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Adjuntar Firma</label>
                            <input type="file" class="form-control-file" id="txtFirma" name="firma">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">Adjuntar Foto</label>
                            <input type="file" class="form-control-file" id="txtFoto" name="foto">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarAsignacion">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="divListadoAsignacionPersona">

</div>


<script>
    CargarAsignacion()
    function CargarAsignacion() {
        //alert(baseUrl);
        $.ajax({
            type: "GET",
            url: "/Equipo/AsignacionPersona/Listado",
            cache: false,
            success: function (dataHtml) {
                $("#divListadoAsignacionPersona").html(dataHtml);
                //$("#divListadoEmpresa #tbEmpresa").DataTable();
            }
        });
    }

    $("#btnNuevo").click(function () {
        $("#modalAsignacionPersona").modal();
    });

    $("#btnGuardarAsignacion").click(function () {
        let vIDProducto = $("#hidIDProducto").val();
        let vIDPersona = $("#hidIDPersona").val();
        let vFechaEntrega = $("#txtFechaEntrega").val();
        let vFechaProximoCambio = $("#txtFechaProximoCambio").val();
        let vComentario = $("#txtComentario").val();

        let vFirmaUpload = $("#txtFirma").get(0);
        let vFotoUpload = $("#txtFoto").get(0);
        let files = vFirmaUpload.files;
        let files2 = vFotoUpload.files;
        let vData = new FormData();

        vData.append('vIDProducto', vIDProducto);
        vData.append('vIDPersona', vIDPersona);
        vData.append('vFechaEntrega', vFechaEntrega);
        vData.append('vFechaProximoCambio', vFechaProximoCambio);
        vData.append('vComentario', vComentario);

        for (var i = 0; i < files.length; i++) {
            vData.append(files[i].name, files[i]);
        }
        for (var i = 0; i < files2.length; i++) {
            vData.append(files2[i].name, files2[i]);
        }

        $.ajax({
            type: 'POST',
            url: '/Equipo/AsignacionPersona/Grabar',
            cache: false,
            contentType: false,
            processData: false,
            data: vData,
            success: function (exito) {
                if (exito) {
                    swal("Good job!", "Se registró satisfactoriamente", "success")                 
                    //$("#modalRegistroEmpresa").modal("toggle");
                    //limpiarControles();
                } else {
                    swal("Ocurrió un error en la transacción")
                }
            }
        });



    });


</script>